@charset "UTF-8";

.body {
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 0;
  background-color: #fff;
  z-index: 9999px;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.bolt-logo {
  font-size: 35px;
}

.header-btn {
  font-size: 12px;
  padding: 14px 12px;
  color: #fff;
  background-color: #74cfae;
  text-decoration: none;
  transition: 0.3s;
}

.header-btn:hover {
  color: #4e4e4e;
}

.main {
  padding-top: 74px;
}

.title {
  background-color: #f2f2f2;
}

.title-inner {
  text-align: center;
}

.bolt-theme {
  padding-top: 250px;
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.free-bootstrap-themes {
  margin-top: 20px;
  padding-bottom: 250px;
  font-size: 30px;
  color: #c0c0c0;
}

.iphone-box {
  width: 100%;
  background-color: #74cfae;
}

.iphone-inner {
  padding-top: 50px;
}  

.iphone-innerbox {
  display: flex;
  justify-content: space-between;
}

.photo-iphone {
  font-size: 0;
}

.right-text {
  padding-top: 20px;
  display: inline-block;
  text-align: center;
  width: 706px;
}

.WHAT-WE-CAN-DO {
  font-size: 24px;
  color: #fff;
}

.iphone-text {
  font-size: 20px;
  color: #fff;
  margin-top: 35px;
}

.photo-bpx {
  width: 1000px;
  background-color: #f2f2f2;
}

.OUR-LATEST-WORK {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 24px;
}

.img-box {
  width: 1100px;
  font-size: 0;
  display: flex;
  display: inline-block;
}

.img-link-up,.img-link-upleft,.img-link-upright,.img-link-down {
  width: 300px;
  height: 300px;
}

.img-link-up,.img-link-upright {
  margin-bottom: 80px;
}

.img-link-down,.img-link-downright {
  margin-bottom: 90px;
}

.img-link-down,.img-link-downright {
  margin-bottom: 90px;
}

.img-link {
  margin-right: 100px;
}

.siximg-up-left,.siximg-up-middle,
.siximg-down-left,.siximg-down-middle {
  margin-right: 100px;
}

.siximg-up-left,.siximg-up-middle,
.siximg-up-right {
  margin-bottom: 80px;
}

.siximg-down-left,.siximg-down-middle,
.siximg-down-right {
  margin-bottom: 90px;
}

.img-link-up,.img-link-upright,
.img-link-down,.img-link-downright {
  transition: 0.3s;
  background-color: #fff;
}

.siximg-up-left:hover {
  opacity: 0.3;
}

.siximg-up-middle:hover {
  opacity: 0.3;
}

.siximg-up-right:hover {
  opacity: 0.3;
}

.siximg-down-left:hover {
  opacity: 0.3;
}

.siximg-down-middle:hover {
  opacity: 0.3;
}

.siximg-down-right:hover {
  opacity: 0.3;
}

.down-inner {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
  align-items: flex-start;
}

.photo-text {
  width: 500px;
  padding-right: 90px;
}

.imgbox-btn {
  text-align: center;
  font-size: 12px;
  padding: 14px 20px;
  color: #fff;
  background-color: #74cfae;
  text-decoration: none;
  transition: 0.3s;
}

.imgbox-btn:hover {
  color: #4e4e4e;
}

.circle-box {
  width: 100%;
  background-color: #4e4e4e;
}

.our-skills {
  text-align: center;
  padding-top: 70px;
  color: #FFF;
}

.circle-innerbox,.circle-text-inner {
  display: flex;
  justify-content: center;
}

.circle-innerbox {
  padding-top: 50px;
}

.circle-imgbox {
  padding-right: 180px;
}

.circle-text-inner {
  text-align: center;
}

.circle-img-text {
  padding-right: 180px;
  
}

.circle-img-text,.circle-img-textright {
  color: #FFF;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 100px;
  width: 122px;
  height: auto;
  margin: 0;
  text-align: center;
}

.logo-inner {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}

.link {
  margin-top: 200px;
  margin-bottom: 200px;
  text-align: center;
  width: 185px;
  background-color: #f2f2f2;
  transition: 0.3s;
  padding: 28px;
  text-decoration: none;
  display: block;
}

.link:hover {
  background-color: #fff;
}

.link-logo,.link-logoright {
  font-size: 65px;
  color: #74cfae;
}

.footer {
  width: 100%;
  background-color: #74cfae;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
}

.footer-text {
  color: #fff;
  padding-top: 20px;
  padding-bottom: 25px;
}