@charset "UTF-8";

.body {
  width: 100%;
  font-family: 'Lato', sans-serif;
}

.fontstyle {
  font-family: 'Raleway', sans-serif;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #fff;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 0;
}

.bolt-logo {
  font-size: 35px;
}

.header-btn {
  font-size: 12px;
  padding: 14px 12px;
  color: #fff;
  background-color: #74cfae;
  text-decoration: none;
  transition: 0.3s;
}

.header-btn:hover {
  color: #4e4e4e;
}

#input {
  display: none;
}

.humburger-btn {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: none;
}

.line {
  width: 30px;
  height: 3px;
  background-color: #ddd;
  border-radius: 1px;
  margin-bottom: 5px;
  position: relative;
}

.line:nth-child(n+3) {
  margin-bottom: 0;
}

.menu-btn {
  position: absolute;
  top: 70px;
  left: 0;
  background-color: #74cfae;
  width: 100%;
  transform: translateX(-100%);
}

.menu-btn li a {
  padding: 14px 0 14px 15px;
  width: 100%;
  text-decoration: none;
  color: #FFFFFF;
}

#input:checked ~ .menu-btn {
  transform: translateX(0px);
}

.main {
  padding-top: 70px;
}

.title {
  background-color: #f2f2f2;
}

.title-inner {
  text-align: center;
  padding: 250px 0;
}

.bolt-theme {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.free-bootstrap-themes {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

.iphone-box {
  background-color: #74cfae;
}

.iphone-inner {
  padding-top: 50px;
}  

.iphone-innerbox {
  display: flex;
  justify-content: space-around;
}

.photo-iphone {
  font-size: 0;
}

.right-text {
  margin-top: 20px;
  display: inline-block;
  text-align: center;
  width: 680px;
}

.WHAT-WE-CAN-DO {
  font-size: 24px;
  color: #fff;
}

.iphone-text {
  font-size: 20px;
  color: #fff;
  margin-top: 35px;
}

.img-inner {
  padding: 60px 0 70px 0;
}

.OUR-LATEST-WORK {
  text-align: center;
  font-size: 24px;
}

.img-box {
  margin-top: 40px;
  font-size: 0;
  flex-wrap: wrap;
  display: flex;
  transition: 0.3s;
}

.img-box a {
  display: inline-block;
}

.img-box li:nth-child(3n+1) {
  margin-left: 0;
}

.img-box li:nth-child(n+4) {
  margin-top: 80px;
}

.img-box li {
  transition: 0.3s;
  opacity: 0.7;
}

.img-box li:hover {
  opacity: 1;
}

.down-inner {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 90px;
}

.photo-text {
  width: 454px;
}

.imgbox-btn {
  text-align: center;
  font-size: 12px;
  padding: 14px 20px;
  color: #fff;
  background-color: #74cfae;
  text-decoration: none;
  transition: 0.3s;
  margin-left: 90px;
}

.imgbox-btn:hover {
  color: #4e4e4e;
}

.circle-box {
  background-color: #4e4e4e;
}

.circle-inner {
  padding: 70px 0 100px 0;
}

.our-skills {
  text-align: center;
  color: #fff;
  font-size: 24px;
}

.circle-innerbox {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.circle-innerbox li {
  margin-left: 180px;
}

.circle-innerbox li:first-child {
  margin-left: 0;
}

.circle-img-text {
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

.logo-box {
  background-color: #f2f2f2;
}

.logo-inner {
  display: flex;
  justify-content: center;
  padding: 200px 0;
}

.logo-inner li {
  text-align: center;
  width: 185px;
  transition: 0.3s;
  text-decoration: none;
  display: block;
}

.logo-inner a {
  display: block;
  padding: 20px 0;
}

.logo-inner li:hover {
  background-color: #fff;
}

.link-logo {
  font-size: 45px;
  color: #74cfae;
}

.footer {
  background-color: #74cfae;
}

.footer-inner {
  text-align: end;
  padding: 20px 0 25px 0;
}

.footer-text {
  color: #fff;
}

@media screen and (max-width: 1199px) {
  .inner {
    width: 97%;
  }

  .iphone-inner {
    padding: 50px 0 25px 0;
    text-align: center;
  }

  .iphone-innerbox {
    display: inline-block;
  }

  .photo-iphone {
    width: 100%;
  }

  .photo-box {
    text-align: center;
  }

  .img-box {
    width: 300px;
    display: inline-block;
  }
  
  .img-box li {
    margin: 0;
  }

  .img-box li:nth-child(n+4) {
    margin-top: 0;
  }

  .img-box li:nth-child(3n+4) {
    margin-top: 80px;
  }

  .img-box li a {
    display: inline-block;
    width: 300px;
  }

  .down-inner {
    display: block;
    margin-top: 80px;
  }

  .photo-text {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .imgbox-btn {
    display: inline-block;
    margin: 40px 0 0 0;
  }

  .circle-innerbox {
    display: block;
    text-align: center;
    margin-top: 50px;
  }

  .circle-innerbox li{
    margin: 88px 0 0 0;
  }

  .circle-innerbox li:first-child{
    margin-top: 0;
  }

}

@media screen and (max-width:767px) {
  .header-btn {
    display: none;
  }
    
  .humburger-btn {
    display: inline-block;
  }
  
  .title {
    padding: 160px 0 130px 0;
    text-align: center;
  }
  
  .title-inner {
    width: 300px;
    padding: 0;
  }

  .bolt-theme {
    font-size: 80px;
  }

  .free-bootstrap-themes {
    font-size: 30px;
    display: inline-block;
  }

  .img-box li a {
    display: inline-block;
    width: 300px;
  }

  .right-text {
    width: 97%;
  }

  .logo-box {
    background-color: #f2f2f2;
  }

  .logo-inner{
    width: 100%;
    display: block;
    padding: 50px 0;
  }

  .logo-inner li {
    width: 97%;
    display: block;
    margin: 0 auto;
  }

}